* {
 margin: 0;
  padding: 0;
}



body, html {
 
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  overflow-x: hidden;
}

.dashboard-layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin-top: 48px; 
}

.main-content {
  flex: 1;
  padding: 2rem;
  background: #f8f9fa;
  min-height: calc(100vh - 70px);
  /* prevents overlap with sidebar and navbar */
}
.sidebarIcon {
  font-size: 0.95rem !important; 
}
svg.sidebarIcon {
  font-size: 0.95rem !important;
}